<div style='background-color : orange'>
<a id='TableOfContents'></a>
    <b><u><i><h1 style='text-align : center'>
        Table of Contents
    </h1></i></u></b>
<li><a href='#imports'>Imports</a></li>
<li><a href='#initial'>Initial Setup</a></li>
<li><a href='#dtc'>Decision Tree Classifier</a></li>
<li><a href='#rfc'>Random Forest Classifier</a></li>
<li><a href='#lr'>Logistic Regression</a></li>
<li><a href='#nb'>Naive Bayes (MultinominalNB)</a></li>
<li><a href='#takeaway'>Takeaway</a></li>
<li><a href='#misc'>Miscellaneous</a></li>

Take the work we did in the lessons further:

- What other types of models (i.e. different classifcation algorithms) could you use?
- How do the models compare when trained on term frequency data alone, instead of TF-IDF values?

<div style='background-color : orange'>
<a id='imports'></a>
    <b><u><i><h1 style='text-align : center'>
        Imports
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [206]:
# Vectorization and dataframing
import numpy as np
import pandas as pd

# Splitting data
from sklearn.model_selection import train_test_split

# Classification Modeling
from sklearn.tree import DecisionTreeClassifier as DTC
from sklearn.ensemble import RandomForestClassifier as RFC
from sklearn.linear_model import LogisticRegression as LR
from sklearn.naive_bayes import MultinomialNB as MNB

# Model Metrics
from sklearn.metrics import classification_report, accuracy_score

# NLP related fit/transformers
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# .py files
import acquire as a
import prepare as p

In [126]:
# Set default plt style to 'bmh'
mpl.style.use('bmh')

<div style='background-color : orange'>
<a id='initial'></a>
    <b><u><i><h1 style='text-align : center'>
        Initial Setup
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>
<li><a href='#initialinitial'>Initial</a></li>
<li><a href='#initialreferencecv'>Reference - Count Vectorizer (cv)</a></li>
<li><a href='#initialreferencetfidf'>Reference - Term Frequency - Inverse Document Frequency (TF-IDF)</a></li>
<li><a href='#initialreferencebag'>Reference - Bag of Ngrams (For either cv or tfidf)</a></li>

<a id='initialinitial'></a>
<h3><b><i>
    Initial
</i></b></h3>
<li><a href='#initial'>Initial Setup Top</a></li>

In [127]:
# Obtain the prepared news dataframe
news_df = p.prepare_news_articles()
news_df.shape

(100, 5)

In [128]:
# Split the prepared news dataframe
train_validate, test = train_test_split(news_df,
                                  random_state=1349,
                                  train_size=0.9,
                                  stratify=news_df.category)
train, validate = train_test_split(train_validate,
                                   random_state=1349,
                                   train_size=0.778,
                                   stratify=train_validate.category)
train.shape, validate.shape, test.shape

((70, 5), (20, 5), (10, 5))

---

<a id='initialreferencecv'></a>
<h3><b><i>
    Reference - Count Vectorizer (CV)
</i></b></h3>
<li><a href='#initial'>Initial Setup Top</a></li>

In [129]:
# Bag of Words
cv = CountVectorizer()
bag_of_words = cv.fit_transform(news_df.summary_clean)

In [130]:
# Matrix representing words
bag_of_words.todense()

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]])

In [131]:
# Gets words
cv.get_feature_names_out()

array(['10', '1011', '10part', ..., 'zardozi', 'zealand', 'zuckerberg'],
      dtype=object)

In [132]:
# Gets count of each word
cv.vocabulary_

{'microsoft': 1107,
 'give': 750,
 'salary': 1483,
 'hike': 816,
 'fulltime': 722,
 'employee': 592,
 'year': 1898,
 'ceo': 349,
 'satya': 1491,
 'nadella': 1152,
 'said': 1481,
 'internal': 891,
 'email': 590,
 'wednesday': 1847,
 'economic': 576,
 'condition': 421,
 'different': 521,
 'across': 102,
 'many': 1068,
 'dimension': 523,
 'well': 1850,
 'increase': 862,
 'certain': 351,
 'hourly': 828,
 'equivalent': 605,
 'role': 1465,
 'wont': 1874,
 'added': 115,
 'wrestler': 1889,
 'vinesh': 1812,
 'phogat': 1277,
 'request': 1430,
 'ratan': 1385,
 'tata': 1680,
 'check': 368,
 'whether': 1858,
 'fund': 723,
 'donates': 548,
 'wrestling': 1890,
 'federation': 666,
 'reach': 1392,
 'athlete': 211,
 'must': 1151,
 'seek': 1508,
 'information': 873,
 'india': 865,
 'wfi': 1854,
 'one': 1214,
 'protesting': 1353,
 'delhi': 500,
 'jantar': 916,
 'mantar': 1065,
 'chief': 373,
 'brij': 307,
 'bhushan': 272,
 'sharan': 1528,
 'singh': 1562,
 'bengalurus': 263,
 'mg': 1103,
 'road': 1458,
 'ranked': 1383,
 'first': 688,
 'list': 1024,
 'top': 1730,
 '30': 46,
 'high': 814,
 'street': 1635,
 'shopping': 1541,
 'according': 97,
 'knight': 961,
 'frank': 712,
 'think': 1707,
 'retail': 1443,
 '2023': 32,
 'real': 1398,
 'estate': 608,
 'outlook': 1237,
 'followed': 697,
 'hyderabad': 840,
 'somajiguda': 1585,
 'mumbai': 1145,
 'linking': 1021,
 'south': 1596,
 'extension': 639,
 'part': 1253,
 'kolkata': 967,
 'park': 1251,
 'camac': 324,
 'bagged': 230,
 'fifth': 675,
 'position': 1308,
 'varun': 1801,
 'beverage': 268,
 'pepsicos': 1268,
 'franchise': 711,
 'bottler': 295,
 'became': 253,
 'latest': 989,
 'firm': 687,
 'attain': 213,
 'lakh': 978,
 'crore': 453,
 'market': 1071,
 'capitalisation': 331,
 'company': 410,
 'stock': 1629,
 'ha': 787,
 'doubled': 554,
 'last': 987,
 'closed': 394,
 '681': 75,
 'higher': 815,
 'bsethe': 311,
 'biggest': 276,
 'singleday': 1564,
 'gain': 729,
 'three': 1712,
 'month': 1133,
 'gained': 730,
 '215': 36,
 'far': 655,
 'following': 698,
 '123': 8,
 'return': 1445,
 '2022': 31,
 'nuclear': 1198,
 'fusion': 725,
 'helion': 810,
 'energy': 594,
 'provide': 1355,
 'electricity': 586,
 'five': 693,
 'deal': 481,
 'power': 1316,
 'source': 1595,
 'fuel': 719,
 'sun': 1653,
 'elusive': 589,
 'earth': 574,
 'helions': 811,
 'plant': 1288,
 'expected': 633,
 'online': 1218,
 '2028': 35,
 'target': 1679,
 'generation': 742,
 '50': 65,
 'megawatt': 1091,
 'greater': 772,
 'oneyear': 1215,
 'rampup': 1381,
 'period': 1271,
 'vedanta': 1802,
 'resource': 1436,
 'chairman': 355,
 'anil': 168,
 'agarwal': 127,
 'eye': 642,
 'becomes': 255,
 'plus': 1299,
 'china': 376,
 'apple': 185,
 'expanding': 631,
 'iphone': 901,
 'production': 1344,
 'indiait': 867,
 'clear': 391,
 'everything': 619,
 'take': 1672,
 'next': 1180,
 'global': 752,
 'manufacturing': 1066,
 'hubwe': 834,
 'young': 1904,
 'workforce': 1880,
 'huge': 835,
 'domestic': 547,
 'demandi': 503,
 'doubt': 556,
 'time': 1718,
 'shine': 1539,
 'tweeted': 1762,
 'walmart': 1837,
 'international': 892,
 'judith': 934,
 'mckenna': 1083,
 'priority': 1331,
 'continually': 429,
 'impressed': 854,
 'entrepreneurial': 603,
 'spirit': 1603,
 'country': 440,
 'andwalmart': 165,
 'proud': 1354,
 'play': 1290,
 'small': 1577,
 'growth': 779,
 'story': 1632,
 'doug': 557,
 'mcmillon': 1084,
 'also': 154,
 'committed': 408,
 'good': 760,
 'worth': 1886,
 '10': 0,
 'billion': 279,
 'annually': 172,
 '2027': 34,
 'venkatram': 1804,
 'mamillapalle': 1058,
 'renault': 1422,
 'md': 1085,
 'belief': 259,
 'electric': 585,
 'vehicle': 1803,
 'ev': 614,
 'ecosystem': 578,
 'go': 753,
 'beyond': 269,
 'setting': 1524,
 'charging': 363,
 'station': 1624,
 'lot': 1035,
 'safety': 1480,
 'requirementsthe': 1431,
 'still': 1628,
 'mature': 1077,
 'indiaim': 866,
 'talking': 1677,
 'aboutcharging': 92,
 'aboutindigenisation': 93,
 'battery': 249,
 'etc': 611,
 'fireman': 686,
 'need': 1170,
 'trained': 1743,
 'case': 339,
 'catch': 341,
 'fire': 685,
 'external': 640,
 'affair': 126,
 'minister': 1117,
 'jaishankar': 913,
 'indian': 868,
 'economy': 577,
 'grow': 778,
 'become': 254,
 'stronger': 1638,
 'focus': 696,
 'shifted': 1538,
 'deep': 492,
 'capability': 329,
 'business': 316,
 'stop': 1631,
 'looking': 1033,
 'fix': 694,
 'allow': 146,
 'level': 1011,
 'playing': 1293,
 'field': 674,
 'others': 1235,
 'subsidise': 1647,
 'effort': 581,
 'thats': 1700,
 'suicide': 1650,
 'mauritius': 1079,
 'financial': 682,
 'service': 1522,
 'mahen': 1048,
 'kumar': 972,
 'seeruttun': 1511,
 'commented': 405,
 'hindenburg': 819,
 'research': 1433,
 'allegation': 141,
 'adani': 113,
 'group': 777,
 'used': 1792,
 'mauritiusbased': 1080,
 'shell': 1536,
 'manipulate': 1061,
 'price': 1328,
 'presence': 1323,
 'false': 652,
 'baseless': 244,
 'told': 1724,
 'nation': 1160,
 'parliament': 1252,
 'mauritian': 1078,
 'law': 992,
 'dont': 551,
 'climate': 392,
 'activist': 105,
 'threw': 1714,
 'cake': 319,
 'porsche': 1306,
 'se': 1503,
 'wolfgang': 1872,
 'volkswagens': 1826,
 'annual': 171,
 'general': 741,
 'meeting': 1090,
 'berlin': 264,
 'several': 1526,
 'people': 1267,
 'staged': 1612,
 'protest': 1352,
 'blocking': 285,
 'traffic': 1740,
 'ahead': 131,
 'argued': 191,
 'volkswagen': 1825,
 'wa': 1831,
 'making': 1053,
 'climatedamaging': 393,
 'decision': 490,
 'shouted': 1545,
 'forced': 702,
 'labour': 975,
 'speech': 1601,
 'oliver': 1211,
 'blume': 287,
 'han': 790,
 'dieter': 520,
 'potsch': 1315,
 'citizen': 384,
 'bank': 239,
 'reported': 1427,
 '98': 88,
 'quarter': 1367,
 'acquisition': 100,
 'failed': 647,
 'lender': 1007,
 'silicon': 1554,
 'valley': 1798,
 'march': 1069,
 'net': 1176,
 'income': 861,
 'totalled': 1734,
 '95': 87,
 '264': 43,
 'million': 1113,
 'svb': 1666,
 'new': 1179,
 'york': 1903,
 'missed': 1119,
 'estimate': 609,
 'quarterly': 1368,
 'revenue': 1448,
 'leading': 1002,
 'share': 1529,
 'fall': 651,
 'digital': 522,
 'ad': 111,
 'fell': 670,
 'nearly': 1168,
 '613': 71,
 'januarymarch': 917,
 'total': 1733,
 '5607': 69,
 '571': 70,
 'refinitiv': 1411,
 'data': 473,
 'advertising': 124,
 'continues': 430,
 'experience': 635,
 'nearterm': 1169,
 'cyclical': 466,
 'challenge': 357,
 'meredith': 1094,
 'kopit': 968,
 'levien': 1012,
 'pratt': 1321,
 'whitney': 1861,
 'pursuing': 1362,
 'legal': 1006,
 'recourse': 1408,
 'latter': 990,
 'claimed': 387,
 'filed': 677,
 'bankruptcy': 240,
 'grounding': 776,
 'aircraft': 136,
 'due': 566,
 'failing': 648,
 'engine': 595,
 'responsible': 1441,
 'without': 1867,
 'merit': 1095,
 'vigorously': 1811,
 'defend': 498,
 'claim': 386,
 'pw': 1364,
 'consumer': 427,
 'slowed': 1576,
 'april': 189,
 'two': 1766,
 'index': 864,
 'released': 1419,
 '12': 5,
 'cpi': 443,
 'increased': 863,
 '49': 64,
 'smallest': 1578,
 'yearonyear': 1900,
 'rise': 1455,
 'since': 1559,
 '2021': 30,
 'advance': 123,
 'gail': 728,
 'planning': 1287,
 'build': 313,
 '489': 63,
 'ethane': 612,
 'cracker': 444,
 'near': 1167,
 'liquefied': 1023,
 'natural': 1162,
 'gas': 735,
 'lng': 1029,
 'import': 852,
 'maharashtra': 1047,
 'reuters': 1446,
 'citing': 383,
 'land': 981,
 'dabhol': 467,
 'operates': 1225,
 'tonne': 1727,
 'mtpa': 1142,
 '15': 14,
 'project': 1346,
 'plan': 1286,
 'lessor': 1009,
 'smbc': 1579,
 'aviation': 217,
 'capital': 330,
 'moved': 1138,
 'national': 1161,
 'appellate': 184,
 'tribunal': 1751,
 'nclat': 1164,
 'nclt': 1165,
 'order': 1231,
 'allowing': 147,
 'voluntary': 1827,
 'plea': 1296,
 'initiate': 877,
 'insolvency': 881,
 'proceeding': 1337,
 'world': 1882,
 'largest': 985,
 'leasing': 1003,
 'lowcost': 1036,
 'airline': 137,
 'resolution': 1435,
 'may': 1081,
 'owes': 1240,
 '6521': 74,
 'creditor': 447,
 'larsen': 986,
 'toubro': 1735,
 'lt': 1040,
 'posted': 1313,
 'profit': 1345,
 'tax': 1682,
 '3987': 58,
 'registering': 1412,
 'yoy': 1907,
 'nonexecutive': 1190,
 'naik': 1155,
 'announced': 169,
 'step': 1627,
 'effective': 579,
 'september': 1519,
 'current': 460,
 'sn': 1580,
 'subrahmanyan': 1645,
 'rein': 1416,
 'leadership': 1001,
 'october': 1204,
 'board': 288,
 'godrej': 756,
 'product': 1343,
 'approved': 188,
 'raising': 1377,
 '5000': 66,
 'issuance': 907,
 'nonconvertible': 1189,
 'debenture': 484,
 'consolidated': 424,
 '45214': 61,
 'ended': 593,
 'recording': 1407,
 '24': 40,
 'jump': 936,
 'yearago': 1899,
 'surged': 1662,
 'around': 192,
 '3200': 49,
 'foreign': 703,
 'qin': 1365,
 'gang': 733,
 'would': 1887,
 'react': 1393,
 'strictly': 1636,
 'strongly': 1639,
 'penalty': 1265,
 'imposed': 853,
 'european': 613,
 'union': 1779,
 'supplying': 1657,
 'russia': 1474,
 'military': 1112,
 'civilian': 385,
 'purpose': 1361,
 'warned': 1839,
 'disrupting': 538,
 'normal': 1192,
 'exchange': 623,
 'chinese': 377,
 'russian': 1475,
 'motor': 1136,
 'offer': 1205,
 'majority': 1050,
 'stake': 1613,
 'local': 1030,
 'partner': 1254,
 'aim': 133,
 'raise': 1376,
 'sale': 1484,
 'invest': 895,
 'amount': 162,
 'set': 1523,
 'second': 1505,
 'gujarat': 784,
 'rajeev': 1379,
 'chaba': 352,
 'initial': 875,
 'public': 1358,
 'offering': 1207,
 'spicejet': 1602,
 '85': 86,
 'gasl': 736,
 'ireland': 903,
 'et': 610,
 'court': 442,
 'uk': 1769,
 'earlier': 569,
 'sent': 1517,
 'notice': 1196,
 'respond': 1437,
 'aircastle': 135,
 'limited': 1018,
 'unpaid': 1781,
 'pending': 1266,
 'sought': 1593,
 'pharma': 1276,
 '11': 3,
 'origin': 1232,
 'chemist': 370,
 'distributor': 540,
 'showed': 1547,
 'industry': 871,
 '82': 82,
 'despite': 509,
 'negative': 1173,
 'expect': 632,
 '1011': 1,
 'fy24': 727,
 'rating': 1386,
 'associate': 208,
 'director': 527,
 'krishnanath': 969,
 'munde': 1147,
 'tesco': 1695,
 'john': 927,
 'allan': 140,
 'denied': 505,
 'inappropriately': 855,
 'touching': 1737,
 'woman': 1873,
 'occasion': 1202,
 '74yearolds': 78,
 'spokesperson': 1604,
 'called': 322,
 'simply': 1558,
 'untrue': 1783,
 'guardian': 781,
 'allegedly': 143,
 'touched': 1736,
 'bottom': 296,
 'senior': 1516,
 'staffer': 1611,
 'june': 937,
 'accused': 99,
 'staff': 1610,
 'member': 1092,
 'confederation': 422,
 'british': 308,
 'dinner': 525,
 '2019': 28,
 'president': 1325,
 'joe': 926,
 'biden': 274,
 'reputation': 1429,
 'damaged': 469,
 'extreme': 641,
 'defaulted': 495,
 'debt': 485,
 'significant': 1551,
 'recession': 1406,
 'devastate': 512,
 'retirement': 1444,
 'account': 98,
 'borrowing': 294,
 'cost': 435,
 'risk': 1457,
 'defaulting': 496,
 'fails': 649,
 'ceiling': 346,
 '314trillion': 47,
 'mark': 1070,
 'former': 705,
 'cricketer': 450,
 'reacted': 1394,
 'rohit': 1463,
 'sharmas': 1533,
 'controversial': 433,
 'dismissal': 536,
 'rcb': 1390,
 'declared': 491,
 'lbw': 996,
 'drs': 564,
 'way': 1845,
 'crease': 445,
 'hello': 812,
 'much': 1143,
 'mohammad': 1128,
 'kaif': 938,
 'ridiculous': 1453,
 'yuvraj': 1908,
 'calling': 323,
 'unlucky': 1780,
 'munaf': 1146,
 'patel': 1259,
 'even': 615,
 'requires': 1432,
 'csk': 458,
 'captain': 332,
 'dhoni': 516,
 'toss': 1732,
 'elected': 583,
 'bat': 246,
 'dc': 478,
 'ipl': 902,
 'match': 1074,
 'chennai': 371,
 'lalit': 980,
 'yadav': 1896,
 'replaced': 1424,
 'manish': 1062,
 'pandey': 1245,
 'xi': 1895,
 'csks': 459,
 'includes': 859,
 'shivam': 1540,
 'dube': 565,
 'ambati': 157,
 'rayudu': 1389,
 'moeen': 1127,
 'ali': 138,
 'middleorder': 1109,
 'currently': 461,
 'point': 1300,
 'table': 1671,
 'sri': 1608,
 'lankan': 984,
 'commentator': 404,
 'roshan': 1466,
 'abeysinghe': 91,
 'criticised': 452,
 'bowling': 299,
 'noball': 1187,
 'unpardonable': 1782,
 'made': 1044,
 'remark': 1420,
 't20i': 1670,
 'lanka': 983,
 'bangladesh': 238,
 'stated': 1622,
 'long': 1031,
 'stride': 1637,
 'wow': 1888,
 'cant': 327,
 'believe': 260,
 'fan': 654,
 'absolutely': 95,
 'horrendous': 826,
 'wrote': 1894,
 'another': 173,
 'super': 1656,
 'king': 958,
 'defeated': 497,
 '27': 44,
 'run': 1472,
 'defended': 499,
 'lowest': 1037,
 'put': 1363,
 '1678': 16,
 'restricted': 1442,
 '1408': 13,
 'seven': 1525,
 'row': 1467,
 'chepauk': 372,
 'stadium': 1609,
 'exbcci': 622,
 'sourav': 1594,
 'ganguly': 734,
 'took': 1728,
 'twitter': 1765,
 'praise': 1320,
 'mi': 1104,
 'suryakumar': 1664,
 '35ball': 55,
 '83run': 84,
 'knock': 962,
 'best': 266,
 't20': 1669,
 'player': 1292,
 'worldit': 1884,
 'seems': 1509,
 'computer': 418,
 'slammed': 1572,
 'four': 708,
 'six': 1570,
 'tuesday': 1757,
 'official': 1209,
 'broadcaster': 309,
 'issued': 908,
 'clarification': 389,
 'expert': 636,
 'threemetre': 1713,
 'rule': 1469,
 'ignored': 846,
 'unfairly': 1777,
 'adjudged': 122,
 'however': 832,
 'shared': 1530,
 'graphic': 769,
 'claiming': 388,
 'rohits': 1464,
 'front': 718,
 'foot': 699,
 '29': 45,
 'metre': 1102,
 'away': 220,
 'stump': 1641,
 'suggesting': 1649,
 'sharma': 1532,
 'reviewed': 1450,
 'onfield': 1216,
 'umpire': 1771,
 '37': 56,
 'apparently': 181,
 'per': 1269,
 'distance': 539,
 'batter': 248,
 'impact': 851,
 'always': 156,
 'barcelona': 243,
 'sergio': 1520,
 'busquets': 317,
 'leave': 1005,
 'club': 395,
 'summer': 1652,
 '18year': 20,
 'association': 209,
 '34yearold': 53,
 'midfielder': 1110,
 'joined': 928,
 'youth': 1905,
 'team': 1684,
 '2005': 25,
 'firstteam': 689,
 'debut': 486,
 '2008': 26,
 'announcement': 170,
 'exit': 628,
 'come': 401,
 'amid': 160,
 'talk': 1675,
 'move': 1137,
 'saudi': 1492,
 'arabia': 190,
 'played': 1291,
 '700': 77,
 'winning': 1865,
 'eight': 582,
 'la': 974,
 'liga': 1014,
 'title': 1721,
 'bcci': 251,
 'projected': 1347,
 'earn': 571,
 '230': 38,
 '1885': 19,
 'icc': 842,
 'finance': 681,
 'model': 1126,
 'espncricinfo': 607,
 'reportedly': 1428,
 'home': 824,
 '40': 59,
 'surplus': 1663,
 'earnings': 573,
 'fouryear': 709,
 'commercial': 406,
 'cycle': 465,
 'nexthighest': 1181,
 'earner': 572,
 'england': 597,
 'wale': 1836,
 'cricket': 449,
 'ecb': 575,
 'could': 437,
 '4133': 60,
 '340': 52,
 'report': 1426,
 'mockhit': 1125,
 'fast': 656,
 'bowler': 298,
 'deepak': 493,
 'chahar': 354,
 'video': 1809,
 'going': 757,
 'viral': 1815,
 'social': 1583,
 'medium': 1088,
 'seen': 1510,
 'getting': 746,
 'frightened': 716,
 'dhonis': 517,
 'gesture': 744,
 'reacting': 1395,
 'look': 1032,
 'like': 1016,
 'toy': 1738,
 'funny': 724,
 'mahi': 1049,
 'rcbs': 1391,
 'virat': 1816,
 'kohli': 965,
 'cryptic': 455,
 'instagram': 882,
 'featuring': 663,
 'american': 159,
 'standup': 1616,
 'comedian': 402,
 'kevin': 949,
 'hart': 797,
 'grudge': 780,
 'anger': 166,
 'negativityi': 1174,
 'im': 849,
 'living': 1028,
 'positive': 1309,
 'thing': 1706,
 'stand': 1614,
 'inpastand': 879,
 'bathe': 247,
 'wrong': 1893,
 'say': 1494,
 'recently': 1404,
 'involved': 898,
 'verbal': 1805,
 'fight': 676,
 'lsgs': 1039,
 'naveenulhaq': 1163,
 'gautam': 738,
 'gambhir': 731,
 'srh': 1607,
 'head': 802,
 'coach': 398,
 'tom': 1725,
 'moody': 1134,
 'use': 1791,
 '38yearold': 57,
 'kedar': 946,
 'jadhav': 912,
 'sub': 1644,
 'baffling': 229,
 'coming': 403,
 'alljadhav': 145,
 'faced': 644,
 'ball': 233,
 'josh': 932,
 'hazlewood': 801,
 'scored': 1501,
 'unbeaten': 1773,
 'kkr': 959,
 'nitish': 1186,
 'rana': 1382,
 'big': 275,
 'technique': 1686,
 'facing': 645,
 'short': 1542,
 'adding': 116,
 'discus': 533,
 'really': 1399,
 'hurtive': 839,
 'worked': 1878,
 'balldedicated': 234,
 'showing': 1548,
 'batting': 250,
 '326': 50,
 'lsg': 1038,
 'allrounder': 149,
 'krunal': 971,
 'pandya': 1246,
 'nobody': 1188,
 'beat': 252,
 'opener': 1222,
 'quinton': 1371,
 'de': 479,
 'kock': 964,
 'term': 1691,
 'lazy': 995,
 'tired': 1720,
 'waking': 1835,
 'slept': 1575,
 'nine': 1185,
 'hour': 827,
 'nicholas': 1184,
 'pooran': 1305,
 'termed': 1692,
 'kyle': 973,
 'mayer': 1082,
 'laziest': 994,
 'squad': 1606,
 'rockstars': 1462,
 'discussing': 535,
 'nehal': 1175,
 'wadheras': 1833,
 '64': 73,
 '51': 67,
 'childhood': 375,
 'charanjeet': 361,
 'bhangu': 270,
 'got': 763,
 'pat': 1258,
 'back': 225,
 'fromcsk': 717,
 'tricky': 1752,
 'pitch': 1284,
 'trouble': 1754,
 'interacting': 886,
 'wadhera': 1832,
 'conclusion': 420,
 '191': 21,
 'zealand': 1910,
 'simon': 1557,
 'doull': 558,
 'working': 1881,
 'happens': 793,
 'tilak': 1717,
 'varma': 1800,
 'fit': 692,
 'drop': 563,
 'shot': 1543,
 'selection': 1512,
 'hasnt': 799,
 'greatest': 773,
 'exindia': 627,
 'ravi': 1388,
 'shastri': 1534,
 'yadavs': 1897,
 '83': 83,
 '35': 54,
 'exengland': 625,
 'pietersen': 1282,
 'taught': 1681,
 'everyone': 618,
 'valuable': 1799,
 'lesson': 1008,
 'andhimself': 163,
 'entitled': 601,
 'great': 771,
 'suryakumars': 1665,
 'sunil': 1655,
 'gavaskar': 739,
 'feeling': 669,
 'gully': 785,
 'graeme': 766,
 'swann': 1667,
 'recent': 1403,
 'nothing': 1195,
 'compared': 411,
 'witnessed': 1869,
 'ash': 198,
 'never': 1178,
 ...}

In [133]:
bow = pd.DataFrame(bag_of_words.todense())
bow.columns = cv.get_feature_names_out()
bow.sample()

,10,1011,10part,11,118,12,1214,1218,123,12th,...,yogi,york,young,youth,youve,yoy,yuvraj,zardozi,zealand,zuckerberg
85,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [134]:
bow.apply(lambda row: row / row.sum(), axis=1).sample()

,10,1011,10part,11,118,12,1214,1218,123,12th,...,yogi,york,young,youth,youve,yoy,yuvraj,zardozi,zealand,zuckerberg
93,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.030303,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

---

<a id='initialreferencetfidf'></a>
<h3><b><i>
    Reference - Term Frequency - Inverse Document Frequency (TF-IDF)
</i></b></h3>
<li><a href='#initial'>Initial Setup Top</a></li>

In [135]:
tfidf = TfidfVectorizer()
bag_of_words = tfidf.fit_transform(news_df.summary_clean)
pd.DataFrame(bag_of_words.todense(),
            columns = tfidf.get_feature_names_out()).sample()

,10,1011,10part,11,118,12,1214,1218,123,12th,...,yogi,york,young,youth,youve,yoy,yuvraj,zardozi,zealand,zuckerberg
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [136]:
pd.Series(
    dict(
        zip(
            tfidf.get_feature_names_out(), tfidf.idf_)))

10            3.823361
1011          4.921973
10part        4.921973
11            4.516508
118           4.921973
                ...
yoy           4.921973
yuvraj        4.921973
zardozi       4.921973
zealand       4.921973
zuckerberg    4.921973
Length: 1912, dtype: float64

---

<a id='initialreferencebag'></a>
<h3><b><i>
    Reference - Bag of Ngrams (For either cv or tfidf)
</i></b></h3>
<li><a href='#initial'>Initial Setup Top</a></li>

In [137]:
# Bag of Ngrams Stuff
cv = CountVectorizer(ngram_range=(2, 3))
bag_of_grams = cv.fit_transform(news_df.summary_clean)

In [139]:
pd.DataFrame(bag_of_grams.todense(),
            columns=cv.get_feature_names_out()).sample()

,10 around,10 around 3200,10 ball,10 ball added,10 ball impact,10 ball mi,10 billion,10 billion incentive,10 billion india,10 yoy,...,yuvraj singh,yuvraj singh calling,zardozi border,zardozi border vintage,zealand cricketer,zealand cricketer simon,zuckerberg musk,zuckerberg musk tweeted,zuckerberg privatised,zuckerberg privatised government
41,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0

<div style='background-color : orange'>
<a id='dtc'></a>
    <b><u><i><h1 style='text-align : center'>
        Decision Tree Classifier
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>
<li><a href='#dtccv'>Using CV</a></li>
<li><a href='#dtccvbag'>Using CV Bags</a></li>
<li><a href='#dtctfidf'>Using TF-IDF</a></li>
<li><a href='#dtctfidfbag'>Using TF-IDF Bags</a></li>

<a id='dtccv'></a>
<h3><b><i>
    Using CV
</i></b></h3>
<li><a href='#dtc'>Decision Tree Classifier Top</a></li>

In [144]:
# Define x and y
cv = CountVectorizer()
x_train = cv.fit_transform(train.summary_clean)
y_train = train.category
x_validate = cv.transform(validate.summary_clean)
y_validate = validate.category
x_test = cv.transform(test.summary_clean)
y_test = test.category

In [153]:
# Do modeling thing
tree = DTC(max_depth=4, random_state=1349)
tree.fit(x_train, y_train)
print(f'Train: {tree.score(x_train, y_train):.2f}')
print(f'Validate: {tree.score(x_validate, y_validate):.2f}')
print(f'Test: {tree.score(x_test, y_test):.2f}')

Train: 0.61
Validate: 0.40
Test: 0.30

In [154]:
# Feature importances
pd.Series(
    dict(
    zip(cv.get_feature_names_out(),
       tree.feature_importances_))).sort_values(ascending=False)

twitter         0.291518
actress         0.266342
film            0.235008
captain         0.207132
personalised    0.000000
                  ...
exit            0.000000
exindia         0.000000
exhibit         0.000000
exengland       0.000000
zuckerberg      0.000000
Length: 1487, dtype: float64

---

<a id='dtccvbag'></a>
<h3><b><i>
    Using CV Bags
</i></b></h3>
<li><a href='#dtc'>Decision Tree Classifier Top</a></li>

In [195]:
# Define x and y
cv = CountVectorizer(ngram_range=(1, 5))
x_train = cv.fit_transform(train.summary_clean)
y_train = train.category
x_validate = cv.transform(validate.summary_clean)
y_validate = validate.category
x_test = cv.transform(test.summary_clean)
y_test = test.category

In [196]:
# Do modeling thing
tree = DTC(max_depth=4, random_state=1349)
tree.fit(x_train, y_train)
print(f'Train: {tree.score(x_train, y_train):.2f}')
print(f'Validate: {tree.score(x_validate, y_validate):.2f}')
print(f'Test: {tree.score(x_test, y_test):.2f}')

Train: 0.61
Validate: 0.40
Test: 0.30

---

<a id='dtctfidf'></a>
<h3><b><i>
    Using TF-IDF
</i></b></h3>
<li><a href='#dtc'>Decision Tree Classifier Top</a></li>

In [155]:
# Define x and y
tfidf = TfidfVectorizer()
x_train = tfidf.fit_transform(train.summary_clean)
y_train = train.category
x_validate = tfidf.transform(validate.summary_clean)
y_validate = validate.category
x_test = tfidf.transform(test.summary_clean)
y_test = test.category

In [156]:
# Do modeling thing
tree = DTC(max_depth=4, random_state=1349)
tree.fit(x_train, y_train)
print(f'Train: {tree.score(x_train, y_train):.2f}')
print(f'Validate: {tree.score(x_validate, y_validate):.2f}')
print(f'Test: {tree.score(x_test, y_test):.2f}')

Train: 0.61
Validate: 0.40
Test: 0.30

---

<a id='dtctfidfbag'></a>
<h3><b><i>
    Using TF-IDF Bags
</i></b></h3>
<li><a href='#dtc'>Decision Tree Classifier Top</a></li>

In [193]:
# Define x and y
tfidf = TfidfVectorizer(ngram_range=(1, 5))
x_train = tfidf.fit_transform(train.summary_clean)
y_train = train.category
x_validate = tfidf.transform(validate.summary_clean)
y_validate = validate.category
x_test = tfidf.transform(test.summary_clean)
y_test = test.category

In [194]:
# Do modeling thing
tree = DTC(max_depth=4, random_state=1349)
tree.fit(x_train, y_train)
print(f'Train: {tree.score(x_train, y_train):.2f}')
print(f'Validate: {tree.score(x_validate, y_validate):.2f}')
print(f'Test: {tree.score(x_test, y_test):.2f}')

Train: 0.61
Validate: 0.40
Test: 0.30

<div style='background-color : orange'>
<a id='rfc'></a>
    <b><u><i><h1 style='text-align : center'>
        Random Forest Classifier
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>
<li><a href='#rfccv'>Using CV</a></li>
<li><a href='#rfccvbag'>Using CV Bags</a></li>
<li><a href='#rfctfidf'>Using TF-IDF</a></li>
<li><a href='#rfctfidfbag'>Using TF-IDF Bags</a></li>

<a id='rfccv'></a>
<h3><b><i>
    Using CV
</i></b></h3>
<li><a href='#rfc'>Random Forest Classifier Top</a></li>

In [157]:
# Define x and y
cv = CountVectorizer()
x_train = cv.fit_transform(train.summary_clean)
y_train = train.category
x_validate = cv.transform(validate.summary_clean)
y_validate = validate.category
x_test = cv.transform(test.summary_clean)
y_test = test.category

In [158]:
# Do modeling thing
tree = RFC(max_depth=4, random_state=1349)
tree.fit(x_train, y_train)
print(f'Train: {tree.score(x_train, y_train):.2f}')
print(f'Validate: {tree.score(x_validate, y_validate):.2f}')
print(f'Test: {tree.score(x_test, y_test):.2f}')

Train: 0.96
Validate: 0.55
Test: 0.60

In [159]:
# Feature importances
pd.Series(
    dict(
    zip(cv.get_feature_names_out(),
       tree.feature_importances_))).sort_values(ascending=False)

actress       0.029947
film          0.029221
twitter       0.025152
wednesday     0.016734
crore         0.014511
                ...
former        0.000000
forced        0.000000
football      0.000000
foot          0.000000
zuckerberg    0.000000
Length: 1487, dtype: float64

---

<a id='rfccvbag'></a>
<h3><b><i>
    Using CV Bags
</i></b></h3>
<li><a href='#rfc'>Random Forest Classifier Top</a></li>

In [197]:
# Define x and y
cv = CountVectorizer(ngram_range=(1, 5))
x_train = cv.fit_transform(train.summary_clean)
y_train = train.category
x_validate = cv.transform(validate.summary_clean)
y_validate = validate.category
x_test = cv.transform(test.summary_clean)
y_test = test.category

In [198]:
# Do modeling thing
tree = RFC(max_depth=4, random_state=1349)
tree.fit(x_train, y_train)
print(f'Train: {tree.score(x_train, y_train):.2f}')
print(f'Validate: {tree.score(x_validate, y_validate):.2f}')
print(f'Test: {tree.score(x_test, y_test):.2f}')

Train: 0.94
Validate: 0.35
Test: 0.40

---

<a id='rfctfidf'></a>
<h3><b><i>
    Using TF-IDF
</i></b></h3>
<li><a href='#rfc'>Random Forest Classifier Top</a></li>

In [160]:
# Define x and y
tfidf = TfidfVectorizer()
x_train = tfidf.fit_transform(train.summary_clean)
y_train = train.category
x_validate = tfidf.transform(validate.summary_clean)
y_validate = validate.category
x_test = tfidf.transform(test.summary_clean)
y_test = test.category

In [161]:
# Do modeling thing
tree = RFC(max_depth=4, random_state=1349)
tree.fit(x_train, y_train)
print(f'Train: {tree.score(x_train, y_train):.2f}')
print(f'Validate: {tree.score(x_validate, y_validate):.2f}')
print(f'Test: {tree.score(x_test, y_test):.2f}')

Train: 0.96
Validate: 0.55
Test: 0.40

---

<a id='rfctfidfbag'></a>
<h3><b><i>
    Using TF-IDF Bags
</i></b></h3>
<li><a href='#rfc'>Random Forest Classifier Top</a></li>

In [199]:
# Define x and y
tfidf = TfidfVectorizer(ngram_range=(1, 5))
x_train = tfidf.fit_transform(train.summary_clean)
y_train = train.category
x_validate = tfidf.transform(validate.summary_clean)
y_validate = validate.category
x_test = tfidf.transform(test.summary_clean)
y_test = test.category

In [200]:
# Do modeling thing
tree = RFC(max_depth=4, random_state=1349)
tree.fit(x_train, y_train)
print(f'Train: {tree.score(x_train, y_train):.2f}')
print(f'Validate: {tree.score(x_validate, y_validate):.2f}')
print(f'Test: {tree.score(x_test, y_test):.2f}')

Train: 0.93
Validate: 0.35
Test: 0.40

<div style='background-color : orange'>
<a id='lr'></a>
    <b><u><i><h1 style='text-align : center'>
        Logistic Regression
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>
<li><a href='#lrcv'>Using CV</a></li>
<li><a href='#lrcvbag'>Using CV Bags</a></li>
<li><a href='#lrtfidf'>Using TF-IDF</a></li>
<li><a href='#lrtfidfbag'>Using TF-IDF Bags</a></li>

<a id='lrcv'></a>
<h3><b><i>
    Using CV
</i></b></h3>
<li><a href='#lr'>Logistic Regression Top</a></li>

In [157]:
# Define x and y
cv = CountVectorizer()
x_train = cv.fit_transform(train.summary_clean)
y_train = train.category
x_validate = cv.transform(validate.summary_clean)
y_validate = validate.category
x_test = cv.transform(test.summary_clean)
y_test = test.category

In [164]:
# Do modeling thing
model = LR(random_state=1349)
model.fit(x_train, y_train)
print(f'Train: {model.score(x_train, y_train):.2f}')
print(f'Validate: {model.score(x_validate, y_validate):.2f}')
print(f'Test: {model.score(x_test, y_test):.2f}')

Train: 0.96
Validate: 0.70
Test: 0.70

---

<a id='lrcvbag'></a>
<h3><b><i>
    Using CV Bags
</i></b></h3>
<li><a href='#lr'>Logistic Regression Top</a></li>

In [201]:
# Define x and y
cv = CountVectorizer(ngram_range=(1, 5))
x_train = cv.fit_transform(train.summary_clean)
y_train = train.category
x_validate = cv.transform(validate.summary_clean)
y_validate = validate.category
x_test = cv.transform(test.summary_clean)
y_test = test.category

In [202]:
# Do modeling thing
model = LR(random_state=1349)
model.fit(x_train, y_train)
print(f'Train: {model.score(x_train, y_train):.2f}')
print(f'Validate: {model.score(x_validate, y_validate):.2f}')
print(f'Test: {model.score(x_test, y_test):.2f}')

Train: 0.96
Validate: 0.55
Test: 0.60

---

<a id='lrtfidf'></a>
<h3><b><i>
    Using TF-IDF
</i></b></h3>
<li><a href='#lr'>Logistic Regression Top</a></li>

In [168]:
# Define x and y
tfidf = TfidfVectorizer()
x_train = tfidf.fit_transform(train.summary_clean)
y_train = train.category
x_validate = tfidf.transform(validate.summary_clean)
y_validate = validate.category
x_test = tfidf.transform(test.summary_clean)
y_test = test.category

In [169]:
# Do modeling thing
model = LR(random_state=1349)
model.fit(x_train, y_train)
print(f'Train: {model.score(x_train, y_train):.2f}')
print(f'Validate: {model.score(x_validate, y_validate):.2f}')
print(f'Test: {model.score(x_test, y_test):.2f}')

Train: 0.96
Validate: 0.70
Test: 0.70

---

<a id='lrtfidfbag'></a>
<h3><b><i>
    Using TF-IDF Bags
</i></b></h3>
<li><a href='#lr'>Logistic Regression Top</a></li>

In [203]:
# Define x and y
tfidf = TfidfVectorizer(ngram_range=(1, 5))
x_train = tfidf.fit_transform(train.summary_clean)
y_train = train.category
x_validate = tfidf.transform(validate.summary_clean)
y_validate = validate.category
x_test = tfidf.transform(test.summary_clean)
y_test = test.category

In [204]:
# Do modeling thing
model = LR(random_state=1349)
model.fit(x_train, y_train)
print(f'Train: {model.score(x_train, y_train):.2f}')
print(f'Validate: {model.score(x_validate, y_validate):.2f}')
print(f'Test: {model.score(x_test, y_test):.2f}')

Train: 0.96
Validate: 0.65
Test: 0.70

<div style='background-color : orange'>
<a id='nb'></a>
    <b><u><i><h1 style='text-align : center'>
        Naive Bayes (MultinominalNB)
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>
<li><a href='#nbcv'>Using CV</a></li>
<li><a href='#nbtfidf'>Using TF-IDF</a></li>

<a id='nbcv'></a>
<h3><b><i>
    Using CV
</i></b></h3>
<li><a href='#nb'>Naive Bayes Top</a></li>

In [170]:
# Define x and y
cv = CountVectorizer()
x_train = cv.fit_transform(train.summary_clean)
y_train = train.category
x_validate = cv.transform(validate.summary_clean)
y_validate = validate.category
x_test = cv.transform(test.summary_clean)
y_test = test.category

In [172]:
# Do modeling thing
model = MNB()
model.fit(x_train, y_train)
print(f'Train: {model.score(x_train, y_train):.2f}')
print(f'Validate: {model.score(x_validate, y_validate):.2f}')
print(f'Test: {model.score(x_test, y_test):.2f}')

Train: 0.96
Validate: 0.70
Test: 0.80

---

<a id='nbtfidf'></a>
<h3><b><i>
    Using TF-IDF
</i></b></h3>
<li><a href='#nb'>Naive Bayes Top</a></li>

In [173]:
# Define x and y
tfidf = TfidfVectorizer()
x_train = tfidf.fit_transform(train.summary_clean)
y_train = train.category
x_validate = tfidf.transform(validate.summary_clean)
y_validate = validate.category
x_test = tfidf.transform(test.summary_clean)
y_test = test.category

In [174]:
# Do modeling thing
model = MNB()
model.fit(x_train, y_train)
print(f'Train: {model.score(x_train, y_train):.2f}')
print(f'Validate: {model.score(x_validate, y_validate):.2f}')
print(f'Test: {model.score(x_test, y_test):.2f}')

Train: 0.96
Validate: 0.70
Test: 0.70

<div style='background-color : orange'>
<a id='takeaway'></a>
    <b><u><i><h1 style='text-align : center'>
        Takeaway
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

- Best Model Type
    - Naive Bayes (MultinominalNB)
        - Superior score by far
    - Logistic Regressor
        - Near 2nd
- Best Methodology
    - CV & TF-IDF
        - Appear to perform similarly
        - Hyperparameter(ngram_range()): Doesn't appear to do much

<div style='background-color : orange'>
<a id='misc'></a>
    <b><u><i><h1 style='text-align : center'>
        Miscellaneous
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>